In [ ]:
mystr = 'konstantinos'

mystr[0]
mystr[-1]
mystr[3:5]
mystr[6:]

In [4]:
mystr.center(20)

'    konstantinos    '

In [5]:
mystr.find('n')

2

In [6]:
mystr.split('t')

['kons', 'an', 'inos']

In [1]:
mystr = 'konstantinos'

mylist=[]
for char in mystr:
    mylist += char
    
print(mylist)

['k', 'o', 'n', 's', 't', 'a', 'n', 't', 'i', 'n', 'o', 's']

In [9]:
name = 'Konstantinos'
age = 26

print(name, 'is', age, 'years old.')
print("%s is %d years old." % (name, age))

Konstantinos is 26 years old.
Konstantinos is 26 years old.

In [16]:
#Lists

cubes = [1, 6, 7, 12, 16]

cubes.append(25)
cubes[:]

[1, 6, 7, 12, 16, 25]

In [17]:
cubes.append(3 * 10)
cubes

[1, 6, 7, 12, 16, 25, 30]

In [1]:
#Delete specific element from list

a = [1, 2, 3, 4, 2, 3, 4, 2, 7, 2]
a = [x for x in a if x != 2]
a

[1, 3, 4, 3, 4, 7]

In [10]:
letters = ['a', 'b', 'c']

letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E']

In [11]:
letters[2:5] = []
letters

['a', 'b']

In [12]:
letters.append('c')
letters

['a', 'b', 'c']

In [26]:
letters.append(3 * 'k')
letters

['a', 'b', 'c', 'kkk']

In [27]:
len(letters)

4

In [21]:
#nested lists

a = ['a', 'b', 'c']
n = [1, 2, 3]

x = [a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [22]:
x[0]

['a', 'b', 'c']

In [25]:
x[0][1]

'b'

In [1]:
arr = [[4, 1, 1], 
      [0, 5, 0], 
      [2, 0, 3]]


for i in range(len(arr)):
    for j in range(len(arr)):
        
        print(arr[i][j])

4
1
1
0
5
0
2
0
3

In [1]:
matrix = [[0, 1, 1, 2], 
      [0, 5, 0, 0], 
      [2, 0, 3, 3]]


for row in range(len(matrix)):
    for col in range(len(matrix[row])):
        print (matrix[row][col])

0
1
1
2
0
5
0
0
2
0
3
3

In [2]:
for i1, inner_matrix in enumerate(matrix):
    for i2, element in enumerate(inner_matrix):
        print (i1, i2, element, matrix[i1][i2])

0 0 0 0
0 1 1 1
0 2 1 1
0 3 2 2
1 0 0 0
1 1 5 5
1 2 0 0
1 3 0 0
2 0 2 2
2 1 0 0
2 2 3 3
2 3 3 3

In [28]:
# Control Flow

x = int(input("Please enter an integer: "))

Please enter an integer: 12

In [ ]:
if // elif // else

In [34]:
words = ['cat', 'window', 'defenestrate']

for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [35]:
for w in words[:]:     # Loop over a slice copy of the entire list
    if len(w) > 6:
        words.insert(0, w)
        
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [36]:
for i in range(5):
    print (i)

0
1
2
3
4

In [ ]:
range(5, 10)
   5 through 9

range(0, 10, 3)
   0, 3, 6, 9

range(-10, -100, -30)
  -10, -40, -70

In [38]:
list(range(5))

[0, 1, 2, 3, 4]

In [39]:
# Functions

def fib(n):    # write Fibonacci series up to n

     a, b = 0, 1
     while a < n:
         print(a, end=' ')
         a, b = b, a+b
     print()

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [41]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [42]:
def fib2(n):  # return Fibonacci series up to n using a list

     result = []
     a, b = 0, 1
     while a < n:
         result.append(a)    # same as result = result + [a]
         a, b = b, a+b
     return result

f100 = fib2(100)    
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [2]:
mystr = 'konstantinos'
mystr.upper()

'KONSTANTINOS'

In [46]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [48]:
ask_ok('Do you really want to quit?')

Do you really want to quit?n

False

In [50]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?yea
Come on, only yes or no!
OK to overwrite the file?yes

True

In [51]:
# Keyword Arguments

def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])
        
        
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [54]:
def concat(*args, sep="/"):
     return sep.join(args)

concat("earth", "mars", "venus")            # prints 'earth/mars/venus'
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [55]:
list(range(3,6))

[3, 4, 5]

In [56]:
args = [3, 6]
list(range(*args))

[3, 4, 5]

In [57]:
def parrot(voltage, state='a stiff', action='voom'):
     print("-- This parrot wouldn't", action, end=' ')
     print("if you put", voltage, "volts through it.", end=' ')
     print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [ ]:
# Lambda Expressions  (Small anonymous functions)

def make_incrementor(n):
     return lambda x: x + n

f = make_incrementor(42)
f(0)   # prints 42
f(1)   # prints 43

In [78]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [81]:
def my_function():
     """Do nothing, but document it. 
        
     No, really, it doesn't do anything.
     """
     pass

print(my_function.__doc__)

Do nothing, but document it.

     No, really, it doesn't do anything.

In [ ]:
# Data Structures

list.append(x)
#Add an item to the end of the list. Equivalent to a[len(a):] = [x].

list.extend(iterable)
#Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
#list1 = list1 + list2 -> list1.extend(list2) 

list.insert(i, x)
#Insert an item at a given position. The first argument is the index of the element.

list.remove(x)
#Remove the first item from the list whose value is x. It is an error if there is no such item.

list.pop([i])    # list1.pop(3) --> removes the item in the 4th position
#Remove the item at the given position in the list, and return it. 
#If no index is specified, a.pop() removes and returns the last item in the list. 

list.clear()
#Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
#Return zero-based index in the list of the first item whose value is x. Raises a ValueError if there is no such item.

list.count(x)
#Return the number of times x appears in the list.

list.sort(key=None, reverse=False)
#Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
#Reverse the elements of the list in place.

list.copy()
#Return a shallow copy of the list. Equivalent to a[:].

In [99]:
# List Comprehensions     --> appends in list


squares = []
for x in range(10):
    squares.append(x**2)

squares

-----------------------------------------------------

squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def makeArrayConsecutive2(statues):
    k=0
    for i in range(min(statues), max(statues)):
        if i not in statues:
            k+=1
    return k    

----------------------------------------------------------

def makeArrayConsecutive2(statues):
    return sum([1 for i in range(min(statues), max(statues)) if i not in statues])

In [103]:
combs = [] 
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

-------------------------------------------------------

combs = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
vec = [-4, -2, 0, 2, 4]

[x*2 for x in vec]
>> [-8, -4, 0, 4, 8]

# filter the list to exclude negative numbers
[x for x in vec if x >= 0]
>> [0, 2, 4]

# apply a function to all the elements
[abs(x) for x in vec]
>> [4, 2, 0, 2, 4]

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]
>> ['banana', 'loganberry', 'passion fruit']  #afairei mono apo ta akra tou string

# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]
>> [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
# the tuple must be parenthesized, otherwise an error is raised

# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]
>> [1, 2, 3, 4, 5, 6, 7, 8, 9]

from math import pi
[str(round(pi, i)) for i in range(1, 6)]
>> ['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [113]:
# Nested List Comprehensions

matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
    [9, 10, 11, 12],
 ]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [116]:
# Transpose rows and cols

transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
    
transposed
-------------------------------------------------------    
    
[[row[i] for row in matrix] for i in range(4)]

-------------------------------------------------------

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [3]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a
#del a[:]  -> a = []
#del a     -> svinei olo to a

[1, 66.25, 333, 333, 1234.5]

In [5]:
#Tuples

t = 12345, 54321, 'hello!'

t[0]

12345

In [7]:
t

(12345, 54321, 'hello!')

In [8]:
# Nested tuples

u = t, (1, 2, 3, 4, 5)  
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [9]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [10]:
# Sets

#arxikopoiisi me set() kai oxi me {}

basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}  #afairei ta duplicates otan printaretai
basket

{'apple', 'banana', 'orange', 'pear'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

a                                  # unique letters in a
>> {'a', 'r', 'b', 'c', 'd'}

a - b                              # letters in a but not in b
>> {'r', 'd', 'b'}

a | b                              # letters in a or b or both
{'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}

a & b                              # letters in both a and b
>> {'a', 'c'}

a ^ b                              # letters in a or b but not both
>> {'r', 'd', 'b', 'm', 'z', 'l'}

In [13]:
# Set comprehensions

a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [ ]:
# Dictionaries

tel = {'jack': 4098, 'sape': 4139}

tel['guido'] = 4127

tel
>> {'sape': 4139, 'guido': 4127, 'jack': 4098}

tel['jack']
>> 4098

del tel['sape']

tel['irv'] = 4127
tel
>> {'guido': 4127, 'irv': 4127, 'jack': 4098}

list(tel.keys())
>> ['irv', 'guido', 'jack']

sorted(tel.keys())
>> ['guido', 'irv', 'jack']

'guido' in tel
>> True

'jack' not in tel
>> False

In [14]:
# Using dict() constructor

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [15]:
# Dict comprehensions

{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [16]:
# Looping Dictionaries

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [17]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [18]:
# the entries can be paired with the zip() function

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [19]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [ ]:
dir() #mas deixnei ola ta diathesima modules pou mporoume na kalesoume p.x. .age, .name klp

In [33]:
# Reading and Writing Files

f = open('workfile', 'w')

'r' -> read
'w' -> write
'a' -> appending
'r+' -> reading and writing

f.open()
f.close()

with open('workfile') as f:
     read_data = f.read()
f.closed  
>> True

In [ ]:
f.read()
>> 'This is the entire file.\n'

f.readline()
>> 'This is the first line of the file.\n'
f.readline()
>> 'Second line of the file\n'

for line in f:
    print(line, end='')

>> This is the first line of the file.
>> Second line of the file

f.readlines()

In [34]:
# Errors and Exceptions

while True:
     try:
         x = int(input("Please enter a number: "))
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: k
Oops!  That was no valid number.  Try again...
Please enter a number: 5

In [ ]:
except RuntimeError, TypeError, NameError

import sys

try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise

In [43]:
# Classes                        

class Parent():
    def __init__(self, last_name, eye_color):      # alliws: self, **kwargs
        print ("Parent Constructor Called")
        self.last_name = last_name
        self.eye_color = eye_color
        self.fav_team = 'Olympiakos'
        
    def show_info(self):
        print ("Last Name - " + self.last_name)
        print ("Eye Color - " + self.eye_color)
        print ("Favorite Team - " + self.fav_team)
        
class Child(Parent):
    def __init__(self, last_name, eye_color, number_of_toys):
        print ("Child Contructor Called")
        Parent.__init__(self, last_name, eye_color)
        self.number_of_toys = number_of_toys
        
    def show_info(self):
        print ("Last Name - " + self.last_name)
        print ("Eye Color - " + self.eye_color)
        print ("Number of toys " + str(self.number_of_toys))
        print ("Favorite Team - " + self.fav_team)
        
        
billy_cyrus = Parent("Cyrus", "blue")
#dir(billy_cyrus)
billy_cyrus.show_info()

miley_cyrus = Child("Cyrus", "blue", 5)
miley_cyrus.show_info()

Parent Constructor Called
Last Name - Cyrus
Eye Color - blue
Favorite Team - Olympiakos
Child Contructor Called
Parent Constructor Called
Last Name - Cyrus
Eye Color - blue
Number of toys 5
Favorite Team - Olympiakos

In [ ]:
# Standard Library

import os
os.getcwd()      # Return the current working directory
>> 'C:\\Users\\Konstantinos\\Desktop'

os.chdir('/server/accesslogs')   # Change current working directory
os.system('mkdir today')   # Run the command mkdir in the system shell

dir(os)
help(os)

In [ ]:
# Maths

import math

math.cos(math.pi / 4)
>> 0.70710678118654757
math.log(1024, 2)
>> 10.0

In [ ]:
import random

random.choice(['apple', 'pear', 'banana'])
>> 'apple'

random.sample(range(100), 10)   # sampling without replacement
>> [30, 83, 16, 4, 8, 81, 41, 50, 18, 33]

random.random()    # random float
>> 0.17970987693706186

random.randrange(6)    # random integer chosen from range(6)
>> 4

In [ ]:
import statistics

data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]

statistics.mean(data)
>> 1.6071428571428572

statistics.median(data)
>> 1.25
statistics.variance(data)
>> 1.3720238095238095

In [51]:
# Internet Access

from urllib.request import urlopen
with urlopen('http://tycho.usno.navy.mil/cgi-bin/timer.pl') as response:
    for line in response:
        line = line.decode('utf-8')  # Decoding the binary data to text.
        if 'EST' in line or 'EDT' in line:  # look for Eastern Time
             print(line)

<BR>Dec. 11, 02:00:11 PM EST		Eastern Time

In [ ]:
# Dates and Times

from datetime import date

now = date.today()
now
>> datetime.date(2003, 12, 2)

now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")
>> '12-02-03. 02 Dec 2003 is a Tuesday on the 02 day of December.'

birthday = date(1964, 7, 31)
age = now - birthday
age.days
>> 14368

In [ ]:
# Factory Pattern

-> Xwris Factory Pattern


class Person():
    def __init__(self,name, age):
        print ("Person created!")
        self.age = age
        self.name = name  
    
class Employee(Person):
    def __init__(self,name, age):
        super(Employee, self).__init__(name,age)

class FootballPlayer(Person):
    def __init__(self,name, age, team):
        super(FootballPlayer, self).__init__(name,age)
        self.team = team
              

person = Employee('Manos Angelidis', 22)
print(person.age, person.name)

person2 = FootballPlayer('Dusan Bajevic', 42, 'Olympiacos')
print(person2.age, person2.name)



-> Me Factory Pattern


class Person():
    def __init__(self,name, age):
        print ("Person created!")
        self.age = age
        self.name = name
        
class Employee(Person):
    def __init__(self,name, age):
        super(Employee, self).__init__(name,age)

class FootballPlayer(Person):
    def __init__(self,name, age, team):
        super(FootballPlayer, self).__init__(name,age)
        self.team = team
        
class PersonFactory():
    def createPerson(self, personType, **kwargs):
        if personType == "FootballPlayer":
            return FootballPlayer(**kwargs)
        if personType == "Employee":
            return Employee(**kwargs)
        else:
            print("Incorrect type given")
            
            
factory = PersonFactory()
k = factory.createPerson('FootballPlayer', name = 'Alexis', age = '43', 
                         team = 'Syriza')
l = factory.createPerson('Employee', name = 'Alexis', age = '43')
#print(dir(k))
print (k.age + " " + k.name + " " + k.team)
print (l.age + " " + l.name)

In [1]:
# NumPy

import numpy as np